.topFooter {
    position: relative;
    width: 100%;
    height: 220px;
    left: 0px;
    top: 0px;
    margin-top: 8%;
    float: bottom;
    color: white;
    padding-top: 32px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottomFooter {
    position: relative;
    vertical-align: middle;
    width: 100%;
    height: 40px;
    left: 0px;
    background: #444444;
    color: white;
    padding-top: 0.7%;
    text-align: center;
}

.footerTextLeft {
    width: 250px;
    text-align: left;
    padding-right: 40px;
}

.footerTextMiddle {
    width: 248px;
    text-align: left;
}

.footerTextRight {
    width: 250px;
    text-align: left;
    padding-left: 40px;
}