.cardStyle {
    position: relative;
    width: 60%;
    height: 300px;
    left: 300px;
    top: 68px;
    background: #ffffff;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07);
    border-radius: 2px;
}

.figmaCard {
    position: absolute;
    width: 840px;
    height: 113px;
    left: 300px;
    top: 172px;

    background: #FFFFFF;
    /* CARD STROKE STYLE */

    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    /* Card drop shadow */

    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}


.sectionTitle{
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    padding: 10px;
    color: #000000;
}

.sectionNum{
    /* Subtext */
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */


    /* Purple 1 */

    color: #594FD1;
}