@import url("https://fonts.googleapis.com/css?family=Barlow");

.body {
  font-family: "barlow";
  font-style: "normal";
}

.h3 {
  font-weight: 500;
  font-size: 25px;
  line-height: 36px;
  color: #000000;
}

.buttonStyle {
  position: relative;
  width: 135px;
  height: 45px;
  float: left;
  margin-top: 5%;
  text-align: center;
  color: white;
  background: #594fd1;
  border-radius: 2px;
}

.buttonStyle p {
  margin-top: 6%;
}

.buttonStyle a {
  color: white;
  text-decoration: none;
}

.introText {
  margin-top: 10%;
  width: 50%;
  float: left;
  text-align: left;
  margin-left: 5%;
}

.introPic {
  width: 50%;
  margin-left: 42%;
  float: right;
  margin-top: -25%;
  position: absolute;
  width: 541px;
  height: 304px;
  top: 65%;
}

.cardStyle {
  position: relative;
  width: 60%;
  height: 668px;
  left: 300px;
  top: 68px;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07);
  border-radius: 2px;
}

.secondBottomBorder i {
  margin-top: 15% !important;
}

.bottomTextL a {
  text-decoration: none;
  color: #594fd1;
}

.bottomTextR a {
  text-decoration: none;
  color: #594fd1;
}
