@import url('https://fonts.googleapis.com/css?family=Barlow');

.header-container {
    min-width: 700px;
    padding:  45px 300px 90px 300px;
    background: #ffffff;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07);
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;

}

.text {
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 0px;

}

.subheader {
    color: #594FD1;
    font-size: 13px;
    margin-top: 7px;
}

.header {
    font-size: 15px;
    margin: 0 auto;
}

.title {
    font-size: 25px;
    margin-top: 2px;
}

.logo {
    position: relative;
    width: 79px;
    height: 30px;
    float: right;
    vertical-align: text-top;
}
