.questionSection {
  margin: 32px auto;
  max-width: 840px;
}

.questionContainer {
  background: white;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  /* Card drop shadow */

  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}

.buttonContainer {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}
