
.questionNumber {
    width: 556px;
    height: 18px;

    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;

    color: #594FD1;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    padding-top: 45px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 35px;

    background: #FFFFFF;
    transition: all 0.2s;
}

.card.error {
    background: rgba(210, 75, 90, 0.15);
}

.card.error .errorMessage {
    display: inline-block;
    position: absolute;
    color: #B42D38;
    font-size: 13px;
    margin-top: -24px;
}

.card .errorMessage {
    display: none;
}

.card .title {
    margin: 0 0 18px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;

    color: #000000;
    opacity: 0.8;
}

.answer {
    display: flex;
    position: relative;
    width: 354px;
    margin-bottom: 10px;
    cursor: pointer;

    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(89, 79, 209, 0.4);
    box-sizing: border-box;
    border-radius: 2px;

    transition: 1ms all;
    outline: none;
}

.answer:hover, .answer:focus, .answer.highlighted {
    box-shadow: 1px 2px 6px rgba(143, 124, 255, 0.4);
}

.answer.selected {
    background: #F6F5FD;
    border: 1px solid #594FD1;
}

.grid-container {
    display: grid;
    grid-template-columns: 354px 354px;
    grid-auto-rows: minmax(80px, 1fr);
    grid-column-gap: 10px;
    justify-content: space-around;
    width: 718px;
}

.letterOption {
    position: absolute;
    top: 15px;
    width: 36px;
    height: 24px;

    background: #594FD1;
}

.letterOption.selected {
    position: absolute;
    top: 15px;
    width: 36px;
    height: 24px;

    background: #312975;
}

.letter {
    width: 9.75px;
    height: 26.64px;
    margin: auto;

    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
}

.answerText {
    width: 287.11px;
    padding-top: 17.86px;
    padding-left: 49.22px;
    margin-bottom: 20px;

    /* Body */
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;

    color: #202020;

    opacity: 0.7;
}